<h1>チャット</h1>
<div class="chats">
  <% if @messages.present? %>
    <% @messages.each do |message| %>
      <p><%= message.content %></p>
    <% end %>
  <% end %>
</div>
<div class="post">
  <%= form_for @message do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :room_id, value:@room.id %>
    <%= f.submit "送信" %>
  <% end %>
</div>